*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  }

body {
  background-color: rgb(241, 184, 143);
}

.galeria {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr)); 
    gap: 10px; 
  }
  
  .foto {
    overflow: hidden;
    border-radius: 5px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
  }
  
  .foto img {
    width: 100%; 
    height: auto; 
    display: block;
    transition: transform 0.3s ease; 
  }
  
  .foto:hover img {
    transform: scale(1.05); 
  }