@import "variables.scss";


a {
    text-decoration: none;
    color: $link-color;
  
    &:hover {
      color: $link-hover-color;
    }
  }
  
  header {
    transition: 0.5s;
   
    background-color: $primary-color;
    
    color: rgb(252, 249, 249);
    height: 70px;
  
    .encabezado {
     
      
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: row;
      padding: 10px;
  
      .logo {
        
          padding: 5px;
  
        img {
          width: 200px;
          height: auto;
          border-radius: 5%;
        
        }
  
     
  
          }
    }
  
    .menu {
      background-color: darken($primary-color, 5%) ;
      box-shadow: 3px 3px 5px 0 rgb(209, 119, 1);
      border-radius: 10px;
  
      ul {
        list-style: none;
        padding: 0;
        margin: 0;
        display: flex;
        justify-content: space-around;
        
        
  
        li {
            a {
            color: white;
            padding: 10px 15px;
  
            &:hover {
              background-color: lighten($primary-color, 10%);
              border-radius: 5px;
            }
          }
        }
      }
    }
  }

  //media querrys

  @media screen and (max-width: 1200px) {

    header {
      height: 280px;
      transition: 0.5s;

        .encabezado {
          justify-content: center;
          align-items: center;
          text-align: center;
        
        flex-direction: column;
        
        height: 200px;

        .logo{
          translate: 0px 50px;
          padding: 10px;

        }

        .menu{
          translate: 0px 50px;
          padding: 10px;
        }
        
  
        
    
  
        .menu ul {
        flex-direction: column;
  
        li {
        margin: 5px 0;
  
        a {
          padding: 10px;
        }
      }
    }

  }

    .banner{
      flex-direction: column;
      text-align: center;
      margin-top: 200px;
    }
  }
  }