body {
  background-color: rgb(241, 184, 143);
}

.galeria {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr)); /* Ajusta las columnas según el espacio disponible */
    gap: 10px; /* Espaciado entre las imágenes */
  }
  
  .foto {
    overflow: hidden;
    border-radius: 5px; /* Bordes redondeados en las imágenes */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra suave alrededor de las imágenes */
  }
  
  .foto img {
    width: 100%; /* Asegura que las imágenes ocupen todo el ancho del contenedor */
    height: auto; /* Mantiene la proporción de la imagen */
    display: block;
    transition: transform 0.3s ease; /* Animación suave al pasar el cursor */
  }
  
  .foto:hover img {
    transform: scale(1.05); /* Amplía la imagen al pasar el cursor por encima */
  }